<div class="container">
  <h1 class="titulo">Projeção de conteudo com ng-content</h1>
  <div class="cards-container">
    <app-cards>
      <h2>Primeiro card projetado</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, optio
        consequatur? Asperiores obcaecati ipsum repudiandae? Nisi, repellat
        illo! Cumque, nemo labore placeat maxime eaque magnam maiores laboriosam
        natus voluptate rerum.
        </p>
    </app-cards>

    <app-cards>
      <h2>Segundo card projetado</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
        suscipit voluptatum labore id voluptas. Quam, necessitatibus
        repudiandae! Tempore alias laboriosam similique officia dignissimos ipsa
        quidem sint consequatur obcaecati. Illo, placeat?
      </p>
    </app-cards>
  </div>
</div>
