<div class="container">
  <h1 class="titulo">Projeção de conteudo com ng-content</h1>
  <div class="cards-container">
    <app-cards>
      <div cards-simples>
      <h2>Primeiro card projetado</h2>
      <img src="https://d1muf25xaso8hp.cloudfront.net/https://img.criativodahora.com.br/homologacao/thumbs/2025/03/09/01957d57-5dc4-71fa-8ae3-25d2a97d3154.jpg?w=1000&h=&auto=compress&dpr=1&fit=max" alt="">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, optio
        consequatur? Asperiores obcaecati ipsum repudiandae? Nisi, repellat
        illo! Cumque, nemo labore placeat maxime eaque magnam maiores laboriosam
        natus voluptate rerum.
        </p>
      </div>
    </app-cards>

    <app-cards>
      <div cards-simples>
      <h2>Segundo card projetado</h2>
      <img src="https://d1muf25xaso8hp.cloudfront.net/https://img.criativodahora.com.br/homologacao/thumbs/2025/03/09/01957d57-8ab9-72d5-8887-27f08aab8a5c.jpg?w=1000&h=&auto=compress&dpr=1&fit=max" alt="">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
        suscipit voluptatum labore id voluptas. Quam, necessitatibus
        repudiandae! Tempore alias laboriosam similique officia dignissimos ipsa
        quidem sint consequatur obcaecati. Illo, placeat?
      </p>
     </div>
    </app-cards>
    <app-cards>
      <div cards-simples>
      <h2>Terceiro card projetado</h2>
      <img src="https://d1muf25xaso8hp.cloudfront.net/https://img.criativodahora.com.br/homologacao/thumbs/2025/03/09/01957d57-a86c-70db-adae-6cdac8f43a6d.jpg?w=1000&h=&auto=compress&dpr=1&fit=max" alt="">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
        suscipit voluptatum labore id voluptas. Quam, necessitatibus
        repudiandae! Tempore alias laboriosam similique officia dignissimos ipsa
        quidem sint consequatur obcaecati. Illo, placeat?
      </p>
      </div>
    </app-cards>
  </div>
</div>
